[submodule "ExamenesViejos_AnalisisNumerico_FaMAF"]
	path = ExamenesViejos_AnalisisNumerico_FaMAF
	url = git@github.com:ExamenesViejos-FaMAF-Computacion/ExamenesViejos_AnalisisNumerico_FaMAF.git

[submodule "Famaf-Resources-Manager"]
	path = Famaf-Resources-Manager
	url = git@github.com:FAMAF-resources/Famaf-Resources-Manager.git
